<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Personlige informationer</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="form-add">
<form class="new-member-form" method="POST">
    <label> First name:
      <input #member name="member" type="text"/>
    </label>
    <div class="add-member">
        <button (click)="add(member.value); member.value=''" mat-raised-button color="primary">Tilføj Medlem</button>
    </div>
</form>
</div>
