<h2>My Bookings</h2>
<div>
  <label>Booking name:
    <input #bookingName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bookingName.value); bookingName.value=''">
    add
  </button>
</div>

<ul class="bookings">
  <li *ngFor="let booking of bookings">
    <a routerLink="/details/{{booking._id}}">
      <span class="badge">{{booking._id}}</span> {{booking.navn}}
    </a>
    <button class="delete" title="delete booking"
      (click)="delete(booking)">x</button>
  </li>
</ul>
