
  <button class="box">
    {{hej}}
  </button>
  <button class="box">
    Hej igen
  </button>
  <button class="box">
    Hej igen igen
  </button>
  <button class="box">
      Hej igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen igen igen igen igen
  </button>
  <button class="box">
      Hej igen igen igen igen igen igen igen igen igen
  </button>

