.box{
    display: flex;
    background: lightgray;
    border-radius: 20px;
    width: 80vw;
    height: 6vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5px;
    margin-top: 7.5px; 
}

button{
    border: 0.5px solid #CCC;

}