a<h2>My Bookings</h2>
<div>
  <label>Booking name:
    <input #bookingName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bookingName.value); bookingName.value=''">
    add
  </button>
</div>

<ul class="bookings">
  <li *ngFor="let booking of bookings">
    <a routerLink="/details/{{booking.id}}">
      <span class="badge">{{booking.id}}</span> {{booking.name}}
    </a>
    <button class="delete" title="delete booking"
      (click)="delete(booking)">x</button>
  </li>
</ul>
<h3>Top Bookings</h3>
<div class="grid grid-pad">
  <a *ngFor="let booking of bookings" class="col-1-4"
      routerLink="/details/{{booking.id}}">
    <div class="module booking">
      <h4>{{booking.name}}</h4>
    </div>
  </a>
</div>
