<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dashboard</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-nav-list>
<mat-selection-list>
  <h3 mat-subheader>Funhall Bookings</h3>
  <a mat-list-option *ngFor="let booking of bookings">
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line>Team Id: {{booking.id}}</h4>
    <p mat-line>Group Name:  {{booking.name}} </p>
  </mat-list-option>
  <mat-divider></mat-divider>
</mat-selection-list>
</mat-nav-list> -->


<mat-nav-list>
  <mat-list-item *ngFor="let booking of bookings">
      <mat-icon>group</mat-icon>
     <a matLine href="/details/{{booking.id}}">{{ booking.name }}</a>
  </mat-list-item>
</mat-nav-list>
<!-- <mat-tab-group dynamicHeight>
  <mat-tab label="Udvalgte">
    <div class="example-small-box mat-elevation-z4">
       <a routerLink="/dashboard"></a> -->
    <!-- </div>
  </mat-tab>
  <mat-tab label="Vis Alle">
    <div class="example-large-box mat-elevation-z4">
      <app-booking-list-view></app-booking-list-view>
    </div>
  </mat-tab>
</mat-tab-group> -->

<!-- <h3>Top Bookings</h3>
<div class="grid grid-pad">
  <a *ngFor="let booking of bookings" class="col-1-4"
      routerLink="/details/{{booking.id}}">
    <div class="module booking">
      <h4>{{booking.name}}</h4>
    </div>
  </a>
</div> -->
