<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p class="info">
    {{booking.name}} er tilmeldt nedenstående aktiviteter
    <br>
    <br>
    <strong>KL 12.00</strong> - Sted: Hoppeborgen
    <br>
    <strong>KL 13.00</strong> - Sted: Segwaybanen
    <br>
    <strong>KL 14.00</strong> - Sted: Gokartbanen
    <br>
    <strong>KL 15.00 </strong> - Sted: Kantinen
</p>
<header>
    <div class="title-icon">
        <i class="material-icons md-48">group_add</i>
        <h1>Tilføj medlemmer</h1>
    </div>
</header>
<form class="input-new-member">
    <input type="text" name="new-member"/>
    <div class="status">
        <i class="material-icons">
            check
        </i>
    </div>
</form>
<div class="add">
    <button class="btn-add-member">+</button>
</div>

<!-- <div *ngIf="booking">
  <h2>{{booking.name | uppercase}} Details</h2>
  <div><span>id: </span>{{booking.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="booking.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

 -->

